.App {
  display: flex;
  height: 100vh;
  justify-content: center;
  background-color: lightgray;
}

.card {
  height: 80vh;
  width: 70vh;
  align-self: center;
}

.progress-container {
  margin: 10px;
  text-align: left;
  font-size: 0.7rem;
}

.page-container {
  padding: 0 20px 0 20px;
  flex: 1;
}

.page-footer {
  position: absolute;
  bottom: 20px;
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.section {
  border-top: 1px solid black;
  margin: 20px 0;
  font-size: 14px;
}